.header, .hero, .body, .bar, .footer{
	background-color: pink;
	margin-top: 10px;
}
.box{
	height: 80px;
	background-color: aqua;
	margin-top: 5px;
	text-align: center;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}